@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #FFE8D6;  
  color: #6B705C;        
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}